body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.body {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.appHeader {
  background-color: aquamarine;
  /*height: 100px;*/
  /*padding: 20px;*/
  color: white;
}

.intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu{
  background-color: deepskyblue;
}

.menuItem {
  /*background-color:deepskyblue;*/
  /*text-decoration-color: white;*/
}